HOST=127.0.0.1
PORT=4000
VITE_API_BASE_URL=http://localhost:4000
GOVHUB_ADMIN_EMAIL=admin@ict.go.ug
GOVHUB_ADMIN_PASSWORD=AdminPass123!
GOVHUB_DEMO_DEVELOPER_EMAIL=demo.developer@govhub.go.ug
GOVHUB_DEMO_DEVELOPER_PASSWORD=DemoDeveloper123!
GOVHUB_DEMO_API_OWNER_EMAIL=demo.api.owner@nira.go.ug
GOVHUB_DEMO_API_OWNER_PASSWORD=DemoApiOwner123!
GOVHUB_DEMO_REVIEWER_EMAIL=demo.reviewer@govhub.go.ug
GOVHUB_DEMO_REVIEWER_PASSWORD=DemoReviewer123!
